<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style media="screen">
    body {
      margin-top: 50px;
      text-align: center;
    }

    .container {

    }

    .img-description {
      display: flex;
      justify-content: center;
    }

    .img-description * {
      display: flex;
      margin: 0 5px;
      align-self: center;
    }

    .comment-section {
      display: inline;
      width: 100vw;
    }

    .comment-section * {
      margin: 2px auto;
    }

    .dialogue {
      display: inline-block;
      position: relative;
      left: -10%;
      text-align: left;
    }


  </style>
</head>

<body>
  <div class="container">
    <h1><%= content[0].title %></h1>
    <div class="img-description">
      <img src="<%= content[0].img_url %>" alt=""  style="height: 150px; width: 200px">
      <p>
        <%= content[0].description %>
      </p>
    </div>
    <div class="comment-section">
      <div class="dialogue">
        <% for(let i = content.length -1; i >= 0; i--){ %>
          <p style="font-weight: 700; margin-bottom: 0; font-size: 14">
            <%= content[i].commenter_name %>
          </p>
          <p style="font-weight: 100">
            <%= content[i].content %>
          </p>
          <% } %>
      </div>
      <div class="input">
        <form action="/books/<%= content[0].id %>/comment/" method="post" style="display: flex; flex-direction: column;" id="commentForm">
          <input type="text" name="commenter_name" value="" placeholder="Name">
          <textarea name="comment" form="commentForm" placeholder="Write your comment here..." required style="height: 100px; width: 25%" id="commentInput"></textarea>
          <input type="submit" name="submit">
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let sendBtn = document.getElementById('commentInput');
    sendBtn.addEventListener('keypress', function(e) {
      // e.preventDefault();
      if (e.keyCode === 13 && e.keyCode !== 16) {
        alert('asf');
      }
    })
  </script>
</body>

</html>
